   
#global {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px auto 200px 100px;
    column-gap: 15px;
    row-gap: 10px;
    grid-template-areas: 
    "entete"
    "menu"
    "principal"
    "photo"
    "pieddepage";
    
}


header {
    background-color: rgba(0, 255, 255, 0.212);
    grid-area: entete;
    padding: 15px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;

}

nav {
    background-color: rgba(0, 255, 255, 0.637);
    grid-area: menu;
    padding: 15px;
    border: 5px solid black;
    border-radius: 10px;
}

main {
    background-color: rgba(255, 127, 80, 0.514);
    grid-area: principal;
    padding: 15px;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;

}

aside {
    background-color: rgba(128, 128, 128, 0.486);
    grid-area: photo;
    display: flex;
    flex-direction: row;
    
}

aside h3{
    display: block;
    width: 100%;
}

aside img{
    width: 25%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    

}

footer {
    background-color: rgba(0, 0, 0, 0.781);
    grid-area: pieddepage;
    color: rgb(250, 235, 215);
    border: 2px solid black;
    border-radius: 5px;
}


@media screen and (min-width: 640px) and (max-width: 1024px){

 

    #global {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px auto 100px;
        column-gap: 15px;
        row-gap: 10px;
        grid-template-areas: 
        "entete entete entete"
        "menu principal photo"
        "pieddepage pieddepage pieddepage";
        
    }

    aside {
        background-color: rgba(128, 128, 128, 0.486);
        grid-area: photo;
        text-align: center;
        border: 5px solid black;
        border-radius: 10px;
        
    }
    
    aside img{
        width: 50%;
        height: auto;
        border: 2px solid black;
        border-radius: 5px;
        
    
    }

}

@media screen and (min-width: 1024px) {

    #global{
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 50px auto 200px 50px;
        gap: 10px 15px;
        grid-template-areas: 
        "menu entete"
        "menu principal"
        "menu photo"
        "menu footer"
        ;
    }

    aside img{
        width: 90%;
        height: auto;
        border: 2px solid black;
        border-radius: 5px;
        
    
    }
    
}